/* -----------------
Tabla de contenidos:
--------------------
1. Fuente ................ 11
2. Variables ............. 17
3. Estilos generales ..... 32
-------------------- 
*/

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
*{

/* ----- Fuente ----- */

--font-family: "Hanken Grotesk", sans-serif;



/* ----- Variables ----- */

/* Primarios*/

--Light-red: hsl(0, 100%, 67%);
--Orange-yellow: hsl(39, 100%, 56%);
--Green-teal: hsl(166, 100%, 37%);
--Cobalt-blue: hsl(234, 85%, 45%);

/*Gradientes*/

/*background*/
--Light-slate-blue:  hsl(252, 100%, 67%);
--Light-royal-blue : hsl(241, 81%, 54%);
/*circles*/
--Violet-blue : hsla(256, 72%, 46%, 1);
--Persian-blue : hsla(241, 72%, 46%, 0);

/*Neutrales*/

--White: hsl(0, 0%, 100%);
--Pale-blue: hsl(221, 100%, 96%);
--Light-lavender: hsl(241, 100%, 89%);
--Dark-gray-blue: hsl(224, 30%, 27%);
}

/* ----------------------------- */
/* ----- Estilos generales ----- */
/* ----------------------------- */
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card{
    width: 35%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 30px 50px hsl(224, 30%, 90%);
    border-radius: 10px;
}

.card__score{
    width: 50%;
    height: auto;
    background:var(--Light-royal-blue);
    background: linear-gradient(0deg,
    var(--Light-royal-blue)0%,
    var(--Light-slate-blue)100%
    );
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card__title{
    font-family: var(--font-family);
    color: var(--Light-lavender);
    font-size: 18px;
    margin: 10%;
}

.card__circle{
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background: var(--Persian-blue);
    background: linear-gradient(0deg, var(--Persian-blue) 0%, var(--Violet-blue) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.circle__number{
    font-family: var(--font-family);
    font-size: 40px;
    color: var(--White);
    font-weight: 700;
    margin: 0px;
}

.circle__total{
    margin: 0px;
    font-size: 0.8rem;
    color: var(--Light-lavender);
    font-family: var(--font-family);
    font-weight: 700;
}

.card__word{
    font-family: var(--font-family);
    font-size: 20px;
    color: var(--White);
    font-weight: 700;
   
}
.card__description{
    font-family: var(--font-family);
    color: var(--Light-lavender);
    font-size: 13px;
    text-align: center;
    width: 70%;
    margin-top:0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 15%;
}
.card__title2{
    font-family: var(--font-family);
    color: black;
    font-size: 18px;
    margin-top: 14%;
    margin-bottom: 7%;
    margin-left: 14%;
}
.card__results{

    border-radius: 10px;
    width: 50%;
    
}
.card__column__results{
    margin-left: 35px;
    font-family: var(--font-family);
    margin-bottom: 15px;
}

.card__column__results>div{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 14px;
    margin-bottom: 20px;
    

    
}

.reaction{
 background-color:rgb(251, 232, 232);
 padding: 2px;

}

.memory{
background-color:rgb(255, 253, 158);
 padding: 2px;
}

.verbal{
    background-color:rgb(209, 234, 207);
     padding: 2px;
    }

.visual{
        background-color:var(--Light-lavender);
         padding: 2px;
        }
 
.card__text1{
    color: var(--Light-red);
    font-weight: 800;
}
.card__text2{
    color: var(--Orange-yellow);
    font-weight: 800;
}

.card__text3{
    color: var(--Green-teal);
    font-weight: 800;
}

.card__text4{
    color: var(--Cobalt-blue);
    font-weight: 800;
}
.grades{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
}

.card__number{
    
    font-weight: 900;
    font-size: 18px;
}
.card__grade{
    color:var(--Dark-gray-blue);

}


.card_foter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__button{
    background-color: black;
    font-family: var(--font-family);
    color:rgb(227, 223, 223);
    width: 90%;
    height: 40px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    
}



@media  screen and (max-width: 955px) {
    body{
        overflow-y: visible;
        margin-top: 3%;
        margin-bottom: 3%;
    }
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .card__score{
        width: 100%;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }
    .card__results{

        border-radius: 10px;
        width: 100%;

}
}